/* responsive plus petit que 558px  */
@media all and (max-width: 558px){
    .footer{
        margin-top: 50px;
        height: 700px;
        background-image: url(../images/fondFooterMobile.png);
        background-repeat:no-repeat;
        }
    .imageMap{
        position: relative;
        top:-20px;
        height: 35%;
        border: solid 5px;
        color: #ffffff;
        box-shadow: 3px 3px 10px black;
        border-radius: 20px;
        z-index: 50;
    }
    .emplacementPetit{
        position: relative;
        top:-130px;}
    .emplacementPetit2{
        position: relative;
        top:-190px;}
    .contact{
        position: relative;
        text-align: end;
        top:-130px;}
    .barreFooter{
        position: relative;
        bottom: 20px;
    }
    .boutonFooter{
        font-family:ARIAL, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bolder;
        color: #ffff;
        
    }
    .trait{
        display: none;}
    a{
    text-decoration: none;
    }
    }
/* responsive entre 569px et 750px  */
@media all and (min-width: 569px) and (max-width: 750px){
	.footer{
        margin-top: 100px;
        width:100%;
        background-image: url(../images/fondFooterMobile.png);
        background-repeat:no-repeat;
        }
    .imageMap{
        height: 35%;
        border: solid 5px;
        color: #ffffff;
        box-shadow: 3px 3px 10px black;
        border-radius: 20px;
        z-index: 50;
    }
    .emplacementPetit{
        position: relative;
        top:-130px;}
    
    .trait{
        display: none;}
    a{
    text-decoration: none;
    }
    .barreFooter{
        position: relative;
        bottom: 10px;
    }
    } 
/* responsive de 751px a 975px  */
@media all and (min-width: 751px) and (max-width: 975px){
    .footer{
        margin-top: 100px;
        width:100%;
        height:684px;
        background-image: url(../images/fondFooter.png);
        background-repeat:no-repeat;
        }
    .imageMap{
        height: 35%;
        border: solid 5px;
        color: #ffffff;
        box-shadow: 3px 3px 10px black;
        border-radius: 20px;
        z-index: 50;
    }
    .trait{
        width: 3px;
        height: 300px;
    }
    a{
    text-decoration: none;
    }
    .barreFooter{
        position: relative;
        bottom: -200px;
    } 
    }
/* responsive de 976px a 1383px  */
@media all and (min-width: 976px) and (max-width: 1383px){
	
    .footer{
        margin-top: 100px;
        width:100%;
        height:684px;
        
        background-image: url(../images/fondFooter.png);
        background-repeat:no-repeat;
        }
    .imageMap{
        height: 50%;
        border: solid 5px;
        color: #ffffff;
        box-shadow: 3px 3px 10px black;
        border-radius: 20px;
        z-index: 50;
    }
    .trait{
        width: 3px;
        height: 300px;
    }
    a{
    text-decoration: none;
    }
    .barreFooter{
        position: relative;
        bottom: -200px;
    }
} 
/* responsive superieur a 1384px  */
@media all and (min-width: 1384px){
.footer{
    width:100%;
    height:684px;
    background-image: url(../images/fondFooter.png);
    background-repeat:no-repeat;
    }
.imageMap{
    border: solid 5px;
    color: #ffffff;
    box-shadow: 3px 3px 10px black;
    border-radius: 40px;
    z-index: 50;
}
.trait{
    width: 3px;
    height: 300px;
}
a{
text-decoration: none;
}
.barreFooter{
    position: relative;
    bottom: -200px;
}
} 