
footer{
    height: 1080px;
    
    background-image: url(../images/fondFooter.png);
    background-size:contain;
    background-repeat:no-repeat;
    }
.imageMap{
    border: solid 5px;
    color: #ffffff;
    box-shadow: 3px 3px 10px black;
    border-radius: 40px;
    z-index: 50;
}

.trait{
    width: 3px;
    height: 300px;
}
a{
text-decoration: none;

}
