@import'header.css';
@import'footer.css';
*{margin :0;
padding: 0;
    }
    /* responsive plus petit que 754px*/
@media all and (max-width: 754px) {
	/* inserez vos proprietes css ici   */
h2{
    font-family: 'Bangers', Times, serif;
    font-size: 30px;
    
    color:#204A9F;
    }
p{  
    font-family:ARIAL, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #ffff;
    list-style:none;
    }
a{
    text-decoration: none;
    list-style:none;
    }
a:link{
    color: #204A9F;
    list-style:none;
    }
a:visited{
    color: #204A9F;
    list-style:none;
}
.couleur{background-color:#F9A825;
    width: 100%;
    padding: 15px;
    border-radius: 30px;}
.verre{
    display: none;}
.photoAccueilVente{
    display: none;}
.photoQuisommesnous{
    display: none;}
.photoQuisommesnous{
    display: none;}
.photoABbio{
    height: 150px;
   
}
.photoBioeuropeen{
    height: 150px;
   
    /* margin-left: -50px; */
}
.titreDroite{
    text-align: end;
}
.fondGingembre{
    height: 100%;
    width: 100%;
    background-image: url(../images/gingembre.png);
    background-size: contain;
    background-repeat: no-repeat;	
}
}

            

/* responsive entre 755px et 899px*/
@media all and (min-width: 755px) and (max-width: 899px) {
	/* inserez vos proprietes css ici   */
h2{
    font-family: 'Bangers', Times, serif;
    font-size: 30px;
    
    color:#204A9F;
   }
p{  
    font-family:ARIAL, Helvetica, sans-serif;
    font-size: 20px;
	font-weight: bolder;
    color: #ffff;
    list-style:none;
    }
a{
    text-decoration: none;
    list-style:none;
    }
a:link{
    text-decoration: none;
    color: #204A9F;
    list-style:none;
    }
a:visited{
    text-decoration: none;
    color: #204A9F;
    list-style:none;
}
.couleur{background-color:#F9A825;
    width: 100%;
    padding: 15px;
    border-radius: 30px;}
.verre{
    margin: 0px 10px;
    width: 100px;
}
.photoAccueilVente{
    width: 200px; 
    margin-top: 30%;
}
.photoQuisommesnous{
    width: 200px;
    margin-top: 150%;
    }
.photoABbio{
    height: 200px;
    /* margin-top: 50%; */
}
.photoBioeuropeen{
    height: 200px;
    /* margin-top: 320px;
    margin-left: -50px; */
}
.titreDroite{
    text-align: end;
}
.fondGingembre{
    height: 100%;
    width: 100%;
    background-image: url(../images/gingembre.png);
    background-size: contain;
    background-repeat: no-repeat;	
}
}
/* responsive entre 900px */
@media all and (min-width: 900px) {
	/* inserez vos proprietes css ici   */
    h2{
        font-family: 'Bangers', Times, serif;
        font-size: 40px;
        
        color:#204A9F;
       }
    p{  
        font-family:ARIAL, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: bolder;
        color: #ffff;
        list-style:none;
        }
    a{
        text-decoration: none;
        list-style:none;
        }
    a:link{
        color: #204A9F;
        list-style:none;
        text-decoration: none;
        }
    a:visited{
        color: #204A9F;
        list-style:none;
        text-decoration: none;
    }
    .couleur{background-color:#F9A825;
        width: 100%;
        padding: 15px;
        border-radius: 30px;}
    .verre{
        margin: 0px 10px;
        width: 200px;
    }
    .photoAccueilVente{
        width: 300px; 
    }
    .photoQuisommesnous{
        width: 350px;

    }
    .photoABbio{
        height: 200px;
     
    }
    .photoBioeuropeen{
        height: 200px;
        margin-top: 20px;
       
    }
    .titreDroite{
        text-align: end;
    }
    .fondGingembre{
        height: 100%;
        width: 100%;
        background-image: url(../images/gingembre.png);
        background-size: contain;
        background-repeat: no-repeat;	
    }
    .fondBissap{
        height: 100%;
        width: 100%;
        background-image: url(../images/Bissap.png);
        background-size: contain;
        background-repeat: no-repeat;	
    }
    }